@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary: #b47150;
  --background: #fbfbfb;
  --secondary: #e8e5e4;
  --textWhite: #fff;
  --accent: #c6c6c6;
  --text: #000;
}

body {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: var(--background);
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

button:hover {
  opacity: 0.5;
}

header {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 2rem;
}

header .logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
}

nav ul li {
  list-style: none;
}

nav ul li:hover {
  opacity: 0.5;
  cursor: pointer;
}

footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--primary);
}

footer img {
  margin: 0.5rem;
  cursor: pointer;
}

footer img:hover {
  opacity: 0.5;
}
