@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary: #b47150;
  --background: #e8e5e4;
  --secondary: #e8e5e4;
  --accent: #c6c6c6;
  --text: #000;
}

body {
  background-color: var(--background);
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
}

nav {
}
